NODE_ENV="development"
NEXT_PUBLIC_SITE_URL="https://akatsuki-gilt.vercel.com"

# .env.local
# Supabase changed from ANON_KEY to PUBLISHABLE_KEY
NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key

# Secret keys - NEVER expose to the browser (Bypasses RLS)
SUPABASE_SECRET_KEY=sb_secret_your_key_here

# .env.production
NEXT_PUBLIC_TLDRAW_LICENSE_KEY="your_license_key_after_approval"

# embedding
COHERE_API_KEY="your-cohere-trial-key-here"

# parser
LLAMA_CLOUD_API_KEY=your_key

# async queuing
QSTASH_URL="your_url"
QSTASH_TOKEN="your_token"
QSTASH_CURRENT_SIGNING_KEY="your_curr_key"
QSTASH_NEXT_SIGNING_KEY="your_next_key"