NODE_ENV="development"
NEXT_PUBLIC_SITE_URL=""

# Supabase
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=""

# Never expose this key
SUPABASE_SECRET_KEY=""

# Python assets extraction deployed link
EXTRACTOR_SERVICE_URL=""

# Vercel AI SDK
AI_GATEWAY_API_KEY=""

# Browserless.io
BROWSERLESS_TOKEN=""

# Tldraw
NEXT_PUBLIC_TLDRAW_LICENSE_KEY=""

COHERE_API_KEY=""

LLAMA_CLOUD_API_KEY=""

GEMINI_API_KEY=""
GROQ_API_KEY=""

QSTASH_URL=""
QSTASH_TOKEN=""
QSTASH_CURRENT_SIGNING_KEY=""
QSTASH_NEXT_SIGNING_KEY=""
